*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  align-items: center;
  display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
  min-inline-size: 1140px;
}

.result {
  min-inline-size: 711px;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.search-form {
  display: flex;
  align-items: start;
  gap: 40px;
  justify-content: space-between;
}

.content__list {
  display: flex;
  flex-direction: column;
  block-size: 298px;
  overflow: auto;
  position: relative;
  padding: 0px 2px 2px 2px;
}

.content__list-item + .content__list-item {
  margin-block-start: 30px;
}

.title {
  margin-block-end: 26px;
}

.result__video-container {
  inline-size: 711px;
  margin-block-end: 16px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.content__video-card {
  display: flex;
  padding: 2px 2px 2px 2px;
}

.content__video-card-thumbnail {
  min-inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  inline-size: 100%;
}

.search-form {
  padding-block-end: 2px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  margin-block-end: 5px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: white;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-block-end: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-inline-size: 200px;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-transform: capitalize;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: 0;
}

.search-form__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  inline-size: fit-content;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:active {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__textfield {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 21.6px;
  inline-size: 225px;
  block-size: 27px;
  appearance: none;
  color: white;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  outline: 1px solid white;
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  inline-size: 19px;
  block-size: 19px;
  margin-inline-end: 5px;
  border: 1px solid white;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  inline-size: 15px;
  block-size: 15px;
  background-color: white;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
}

.button {
  cursor: pointer;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 21.6px;
  block-size: 34px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}
.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.search-form__submit-button {
  inline-size: 194px;
  margin-block-start: auto;
}

.more-button {
  inline-size: 100%;
  margin-block-start: 30px;
}

.content__card-link {
  margin: 2px 2px 2px 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}